  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">

              <h2>Join the Queue!</h2>
              <hr class="primary">
              <p>Early users get free access for life. Leave your email below, and we will keep you up to date about the launch.</p>
              <br>
              <input type="email" size="24" style="height:50px;font-size:14pt;border-radius:15px;border:2px;margin:10px;padding:10px" placeholder="Enter your e-mail address">
              <a href="#" class="btn btn-default btn-xl wow tada">Sign Up Now!</a>
          </div>
      </div>
  </aside>
