<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>AIVA - personal assistance for health-concious people</h1>
            <hr>
            <p>AIVA is your personal assistant integrating data on your health, fitness and well-being into one place. This app helps health-conscious individuals to better understand their bodies, improve health and take preventative measures. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
