<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/logo.png" alt="Promo video" width="244" height="228">
            <h1>The personal assistant for health-concious people</h1>
            <hr>
            <p>Maia integrates data on your health, fitness and well-being into one place. It helps you to better understand your body, improve health and take preventive measures. </p>

            <a href="#aside" class="btn btn-primary btn-xl page-scroll">Subscribe for Early Access</a>
        </div>
    </div>
</header>
