<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Maia – the personal assistant for health-concious people</h1>
            <hr>
            <p>Maia integrates data on your health, fitness and well-being into one place. It helps you to better understand your bodies, improve health and take preventative measures. </p>

            <a href="#aside" class="btn btn-primary btn-xl page-scroll">Subscribe for Early Access</a>
        </div>
    </div>
</header>
